<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
  <script src="js/util/http.js" type="text/javascript"></script>
  <script src="js/host.js" type="text/javascript"></script>
</head>

<body>
  <div id="credentials" style="display:none;" data="<%= credentials %>"></div>
  <div id="main" class="main-container">
    <div id="videoContainer" class="video-container">
      <div id="hostDivider" class="hidden"></div>
      <div id="screenPreview" class="hidden"></div>
    </div>
  </div>
</body>

</html>